<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dynregistry -->
      <package
            uri="http://fr.inria.atlanmod.emf.utils/dynregistry/1.0"
            class="fr.inria.atlanmod.emf.utils.dynregistry.DynregistryPackage"
            genModel="model/dynregistry.genmodel"/>
   </extension>

</plugin>
